header {
    width: 100%;
    height: 180px;
    display: grid;
    place-content: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        #6bc0db 33.33%,
        #009edb 33.33%,
        #009edb 66.66%,
        #79589f 66.66%
    );
    background-size: calc(50% - 120px) 100px;
    background-position: 0 50%;
}

main {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 4em;
    background-image: linear-gradient(225deg, transparent 4em, #f6f0e2 4em);
}

@media screen and (max-width: 840px) {
    main {
        margin: 0 20px;
    }
}

h2 {
    font-size: 1em;
}

p {
    margin-bottom: 20px;
    font-weight: normal;
}

.button {
    display: inline-block;
    margin-bottom: 12px;
    padding: 8px 15px;
    border: 2px solid #009edb;
    text-decoration: none;
    font-weight: bold;
    color: #009edb;
    box-shadow: 4px 4px 0 #009edb;
    transition: all 300ms ease-in-out;
}

.button:hover {
    background-color: white;
    border-color: #1e1e60;
    color: #1e1e60;
    box-shadow: 6px 6px 0 #1e1e60;
}

.button + .button {
    margin-left: 12px;
}

.landing-intro {
    margin: 0 3em 2em 0;
    font-weight: bold;
    font-size: 1.1em;
}

.landing-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
}

.landing-options .image {
    height: 200px;
    border: 1px solid #1e1e60;
    display: grid;
    place-content: center;
}
